* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(49, 49, 49);
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1000px;
    justify-content: center;
    margin: 50px auto;
}

img {
    width: 100%;
    border-radius: 10px;
}

img:hover {
    box-shadow: 0 0 10px rgb(255, 145, 0);
}

h1,
h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

h1 {
    margin: 40px 0 10px;
    font-size: 3rem;
}

h2::after,
h2::before {
    content: '';
    background-color: rgb(255, 145, 0); 
    position: absolute;
    width: 200px;
    height: 2px;
    bottom: 50%;
}

h2::after {
    right: 240px;
}

h2::before {
    left: 240px;
}

button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(255, 145, 0);
}

.buttons {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

#next {
    position: absolute;
    right: 20px;
    bottom: -35px;
}

#back {
    position: absolute;
    left: 20px;
    bottom: -35px;
}
