* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1: #e2d96f;
    --color2: #1B233B;
    --color3: #B8D8DE;
    --color4: #713F32;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color2);
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
}

#loadingIcon {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
}

/* Buttons */

.button {
    color: var(--color3);
    font-size: 1.1rem;
    position: absolute;
    right: 20px;
    top: -30px;
    cursor: pointer;
}

.button::after {
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -2px;
    background: var(--color3);
    position: absolute;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
}

.button:hover::after
 {
    transform: scaleX(1);
    transform-origin: left;
}

.changePageBtns {
    position: relative;
}

.changePageBtns button {
    background-color: transparent;
    color: var(--color3);
    border: none;
    font-size: 1.1rem;
    top: -40px;
    position: absolute;
    cursor: pointer;
}

.changePageBtns button:hover {
    font-size: 1.12rem;
}

#next {
    right: 20px;
}

#previous {
    left: 10px;
}

/* Main Page */

h1,
h2 {
    color: var(--color3);
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
    position: relative;
}

h2::after,
h2::before {
    content: '';
    height: 2px;
    width: 200px;
    background-color: var(--color1);
    position: absolute;
    top: 50%;
}

h2::after {
    right: 10px;
}

h2::before {
    left: 10px;
}

header {
    margin: 100px;
}

.main-page-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-bottom: 100px;
}

.main-page-cards {
    background-color: var(--color3);
    width: 11rem;
    color: var(--color2);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--color1);
    text-align: center;
}

.main-page-cards:hover {
    box-shadow: 0 0 10px var(--color1);
}

.main-page-container div {
    padding: 5px;
}

.main-page-cards p:first-of-type {
    font-size: 1.5rem;
}

#thumbnail {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/* Details Page */

#info {
    background-color: var(--color3);
    color: var(--color2);
    display: flex;
    border-radius: 10px;
    border: 1px solid var(--color2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;   
    box-shadow: 0 0 10px var(--color1);
}

#info div {
    padding: 10px;
}

#info img {
    border-radius: 10px 0 0 10px;
}

#info h1 {
    color: var(--color2);
    font-size: 2rem;
    letter-spacing: .1rem;
    text-align: left;
    position: relative;
}

#info h1::after {
    content: '';
    height: 1.5px;
    width: 300px;
    background-color: var(--color2);
    position: absolute;
    left: 0;
    bottom: -5px;
}

#info p,
#info h3,
#info h4 {
    margin: 15px 0;
}

#info h3,
#info h4 {
    font-weight: normal;
}

#info h4 {
    font-style: italic;
}

/* Contact Form */

.contact_form {
    display: flex;
    background-color: var(--color3);
    padding: 20px 30px;
    border-radius: 5px;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
    align-items: center;
    border: 1px solid var(--color2);
    box-shadow: 0 0 15px #BCB670;
}

.contact_form input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--color2);
    outline: none;
}

input[type=submit] {
    width: 80px;
    padding: 5px;
    margin-top: 10px;
    background-color: var(--color1);
    color: var(--color2);
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 0 15px #BCB670;
} 

input[type=submit]:hover {
    opacity: 80%;
    box-shadow: none;
}

.contact_form span {
    color: rgb(196, 50, 50);
    display: inline-block;
    max-width: 200px;
}

#contact h1 {
    position: relative;
    font-size: 2.5em;
}

#contact h1::after {
    content: '';
    height: 1.5px;
    width: 60%;
    background-color: var(--color1);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.banner {
    background-color: rgb(167, 255, 167);
    color: var(--color2);
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
    position: absolute;
    top: -80px;
    width: 100%;
}